:root {
  --preto: #1d2125;
  --branco: #FFFFFF;
  --preto-hover: #333333;
  --verde-claro: #E6FDEC;
  --cinza-claro: #525d6b;
  --main-bg-verde: #b0f7c5;
  --verde-modal: #005118;
  --verde-titulo-grafico: #00E645;
}
