{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="{% static 'assets/css/pages/login.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/global/global.css' %}?v=1" />
  </head>
  <body>
    <section class="login-container">
      <div class="login-card">
        <div class="icon">
          <img src="{% static 'assets/imgs/log-in.svg' %}" alt="login-icon" />
        </div>
        <h1>Cadastre-se</h1>
        <p>Realize seu cadastro para fazer parte do nosso aplicativo.</p>

        <form method="POST">
          {% csrf_token %}
          <div class="input-fild">
            <input type="email" name="email" placeholder="Seu melhor E-mail" required />
          </div>
          <div class="input-fild">
            <input type="password" name="password" id="password" placeholder="Insira uma senha" required />
            <img src="{% static 'assets/imgs/eye-off.svg' %}" alt="mostrar-senha" id="togglePassword" />
          </div>

          <div class="input-fild">
            <input
              type="password"
              name="confirm_password"
              id="confirmPassword"
              placeholder="Repita sua senha"
              required
            />
            <img src="{% static 'assets/imgs/eye-off.svg' %}" alt="mostrar-senha" id="togglePasswordConfirm" />
          </div>

          <button type="submit">Cadastrar-se</button>
        </form>

        <p class="texto-registro">Já possui uma conta? <a href="{% url 'login' %}">Login!</a></p>
      </div>
    </section>
    <script>
      const passwordInput = document.getElementById("password");
      const togglePassword = document.getElementById("togglePassword");

      togglePassword.addEventListener("mousedown", function () {
        passwordInput.type = "text";
        togglePassword.src = "{% static 'assets/imgs/eye-on.svg' %}";
      });

      togglePassword.addEventListener("mouseup", function () {
        passwordInput.type = "password";
        togglePassword.src = "{% static 'assets/imgs/eye-off.svg' %}";
      });

      togglePassword.addEventListener("mouseleave", function () {
        passwordInput.type = "password";
        togglePassword.src = "{% static 'assets/imgs/eye-off.svg' %}";
      });
    </script>
  </body>
</html>
